<!--Home page-->
    <hr>
    <div id="home">
        <img src="/uploads/serverfile/logo.png" alt="logo">
        <h3>Home</h3>
    </div>
    <hr>
<!--Home page end-->

<!-- feed-posts-->
<div id="fcontainer">
    <section id="fleft-side">
        <!-- Your existing code for the Friends section -->
        <h4>Friends</h4>
        <% for(user of all_users) { %>
            <p>
                <a href="/users/profile/<%= user.id %>"><%= user.name %></a>
            </p>
        <% } %>
    </section>

    <div class="vertical-line"></div>
    
    <section id="fright-side">
        <!-- Your existing code for the Posts section -->
        <h4>Posts</h4>
        <% if(locals.user) { %>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="type here...." required></textarea>
                <input type="submit" value="Post">
            </form>
        <%}%>
        <div id="posts-lists-container">
            <ul>
                <% for(post of posts){ %>
                    <%- include('_post') -%>
                <%} %>
            </ul>
        </div>
    </section>
</div>
<!-- feed-posts end-->
    
    </section>
    <script src = "/js/home_comments.js"></script>
    <script src="/js/home_posts.js"></script>
    