<!--Home page-->
    <hr>
    <div id="home">
        <img src="/uploads/serverfile/logo.png" alt="logo">
        <h3 style="margin-left: 23%;">Home</h3>
    </div>
    <hr>
<!--Home page end-->

<!-- feed-posts-->
<div id="fcontainer">
    <section id="fleft-side">
        <!-- Your existing code for the Friends section -->
        <h4>Friends</h4>
        <% for(user of all_users) { %>
            <p>
                <a href="/users/profile/<%= user.id %>"><%= user.name %></a>
            </p>
        <% } %>
    </section>

    <div class="vertical-line"></div>
    
    <section id="fright-side">
        <!-- Your existing code for the Posts section -->
        <div style="padding-left: 70%;">
            <h4>Posts</h4>
        </div>
        <div>
        <div id="posts-lists-container">
            <ul>
                <% for(post of posts){ %>
                    <%- include('_post') -%>
                <%} %>
            </ul>
        </div>
        </div>
    </section>
</div>
<!-- feed-posts end-->
    
    </section>
    <script src = "/js/home_comments.js"></script>
    <script src="/js/home_posts.js"></script>
    