
<form action="/users/create-session" method="POST" class="sign_in_form">
    <h1 style="color: #007BFF;">Sign In</h1>
    <input type="text" name="email" id="email" placeholder="Your Email" style="margin-bottom: 10px; padding: 8px; border: 1px solid #ccc; border-radius: 4px; width: calc(100% - 16px); box-sizing: border-box; ">
    <br>
    <input type="password" name="password" id="password" placeholder="Your Password" style="margin-bottom: 10px; padding: 8px; border: 1px solid #ccc; border-radius: 4px; width: calc(100% - 16px); box-sizing: border-box;">
    <br>
    <input type="submit" value="Sign In" style="background-color: #4caf50; color: #fff; cursor: pointer;">
</form>

<p id="sign_in_google">
    <a href="/users/auth/google">Continue with Google</a>
</p>